.footerV2{
	display: block;
}

.style-img{
	background: transparent;
	max-height: 45px;
	max-width: 45px;
}

.left-margin-49{
	float: left;
	width: 48%;
}

.right-margin_49{
	float: right;
	width: 48%;
}